:root {
    /* Color Scheme */
    --background: #184E77;
    --accent-1: #168AAD;
    --accent-2: #76C893;
    --highlight: #D9ED92;

    width: 100vw;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

body {
    background-color: var(--background);
    width: 940px;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
 }

p {
    line-height: 2.5rem;
    font-family: 'Libre Baskerville', Helvetica;
    font-size: 16px;
    letter-spacing: 0.1rem;
}

h3 {
    font-size: 2.5rem;
    margin: 0;
    padding-top: 10px;
}

.content-box {
    background-color: var(--accent-2);
    padding: 1rem;
    border-radius: 1rem;
}

.website-title {
    margin-bottom: 0;
    margin-top: 2rem;
    text-align: center;
    background-color: var(--accent-1);
    border-radius: 3rem 3rem 0 0;
    font-size: 16rem;
    color: antiquewhite;
    font-family: 'Lobster', Helvetica;
    letter-spacing: 12px;

}

.nav-bar {
    margin-bottom: 2rem;
    padding: 1rem 6rem 1rem 6rem;
    display: flex;
    justify-items: center;
    background-color: var(--highlight);
    border-radius: 0 0 3rem 3rem;
}

.nav-element {
    padding-left: 1rem;
    padding-right: 1rem;
    flex: 1 1 auto;
    text-align: center;
    font-size: 4rem;
    color: rgb(86, 62, 69);
    font-family: 'Lobster', Helvetica;
    letter-spacing: 4px;
}

.content-box, .nav-bar, .website-title {
    box-shadow: 0.25rem 0.5rem rgba(0, 0, 0, 0.4);
}